[Unit]
Description=Punto2 FastAPI service
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/SistemasOperativos/final
Environment="PUNTO2_S3_BUCKET=final-sist-operativos"
Environment="AWS_REGION=us-east-2"
ExecStart=/usr/bin/env python3 server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
